.container {

    width: 35%;
    margin: auto;
    padding: 10px;
}

.container form {
    /* margin will get 20% and width 90% so its 90% from the container */
    width: 70%;
    margin: 0 10%
}

.item {
    border: 1px solid gray;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}


label {
    color: gray;
    cursor: pointer;

    /*  this effect if the checkbox is unchecked */
    animation-name: label-unchecked;
    animation-duration: 1s
}

label:hover {
    color: rgb(90, 87, 87);
}

label:active {
    color: rgb(42, 41, 41);
}


/* hide the default checkbox */
.item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    float: right;
    height: 25px;
    width: 25px;
    border: 2px solid gray;
    background-color: white;
    cursor: pointer;
    border-radius: 15px;
    /* trying to put it in the center */
    margin-top: -2.5px;
    user-select: none;

    /*  this effect if the checkbox is unchecked */
    animation-name: checkbox-unchecked;
    animation-duration: 1s
}

.true-symbol {
    padding: 20%;
    color: white;

    /*  this effect if the checkbox is unchecked */
    animation-name: true-unchecked;
    animation-duration: 1s;

}


.checkbox:checked+label {
    color: black;

    animation-name: label-checked;
    animation-duration: 1s
}

.checkbox:checked+label .checkmark {
    border-color: #95cc69;

    animation-name: checkbox-checked;
    animation-duration: 1s
}



/* the sumbol will appears when user click on it or on label */
.checkbox:checked+label .checkmark .true-symbol {
    color: #95cc69;

    animation-name: true-checked;
    animation-duration: 1s;
}



.search-box {
    display: block;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    margin: 30px 5px;
}

.search-box input {
    display: inline-block;
    width: 90%;
    height: 30px;
    border: none;
    font-size: 15px;
}



.esc-sign {
    float: right;
}

.esc-sign button {
    background-color: white;
    color: gray;
    border: none;
    cursor: pointer;
}

.esc-sign button:hover {
    color: rgb(66, 65, 65);
}

.esc-sign button:active {
    color: rgb(42, 41, 41);
}



.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.button-container input {
    width: 35%;
    font-size: 15px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.button-container input[type='button'] {
    margin-right: 2%;
    background-color: white;
    color: gray;
    border: 1px solid gray;

}

.button-container input[type='button']:hover {

    background-color: rgb(228, 219, 219);
}

.button-container input[type='button']:active {
    background-color: rgb(187, 180, 180);
}



.button-container input[type='submit'] {
    margin-left: 2%;
    background: linear-gradient(90deg, #6bb5fb, #7e87fa);
    border: none;
    box-shadow: 0px 10px 10px 0px #b9bef6;
    color: white;
}

.button-container input[type='submit']:hover {
    background: linear-gradient(90deg, #54a8f7, #515cf7);
    box-shadow: 0px 10px 10px 0px #b9bef6;
}

.button-container input[type='submit']:active {
    background: linear-gradient(90deg, #3195f2, #3743f4);
    box-shadow: 0px 10px 10px 0px #b9bef6;
}



@keyframes label-unchecked {
    from {
        color:black;
    }

    to {
        color: gray;
    }
}
@keyframes label-checked {
    from {
        color: gray;
    }

    to {
        color: black;
    }
}


@keyframes true-unchecked {
    from {
        color:#95cc69;
    }

    to {
        color: white;
    }
}
@keyframes true-checked {
    from {
        color: white;
    }

    to {
        color: #95cc69;
    }
}


@keyframes checkbox-checked {
    from {
        border-color: gray;
    }

    to {
        border-color: #95cc69;
    }
}
@keyframes checkbox-unchecked {
    from {
        border-color: #95cc69;
    }

    to {
        border-color: gray;
    }
}

